* {
	margin: 0;
    padding: 0;
    font-family: "Poppins", "Futura", sans-serif;
}


/*------------------Nav Bar--------------*/
h4 {
	font-weight: 300;
}

.container{
    clear:both;
    overflow:auto;
    width: 100%;
    margin: auto;
    top: 0;
    background-color: white;
    position: fixed;
    height: 100px;
}

nav{
    float:right;
    margin-right: 10px;
    margin-top: 20px;
}

nav a {
    text-decoration: none;
}

.logo img{
    float:left;
    margin-left: 20px;
    margin-top: 22px;
    color: #f50900;
    font-weight: 600;
    width: 15%;
    text-align: center;
}

.logo a.active{color: #f50900;}

nav ul li{
    display: inline-block; 
    padding: 20px 8px;
    font-size: 16px; 
    color: #f44336;
    text-align: center;
}

nav ul li:hover, a:hover{
    color: #222222;
}

nav ul li:active{
    color: black;
}

nav ul a.active{
    color: #222222;
}

nav ul a {
    color: #f50900;
    font-weight: 500;
    text-decoration: none;
}
/*-------------Intro-------------------*/
#intro {
    background-color: white;
    height: 250px;
    width: 90%;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 50px;
}
#intro h2 {
    color: #f44336;
    font-weight: bolder;
    font-size: 35px;
    letter-spacing: -1px;
}

#intro h3 {
    font-weight: 500;
    line-height: 1.7;
    font-size: 18px;
}
/*-----------Work Box------------------*/
.work_box {
    background-color: white;
    height: 375px;
    width: 90%;
    box-shadow: 5px 3px 8px #dddddd;
    margin: auto;
    /*animation-name: slide-right;
    animation-duration: 1.5s;*/
}

#work_box_words {
    margin: 0 auto;
    padding-left: 60px;
    padding-bottom: 20px;
    padding-right: 10px;
    line-height: 1.7;
    width: 80%;
    border: 2px solid green;
}

.work_box_words h1 {
    color: #222222;
    font-weight: 1000;
    font-size: 60px;
}

#work_box_words h4 {
    line-height: 1.4;
}

.work_box a {
    color: #f44336;
    text-decoration: none;
    font-size: 15px;
    padding: 30px 0px 0px 0px;
}

#red_words {
    color: #f44336;
    font-weight: 500;
    font-size: 15px;
}

#glimmer_banner {
    float: left;
    width: 50%;
    height: 370px;
}

#glimmer_banner img{
    width: 100%;
}

#right_banner {
    width: 50%;
    height: 370px;
}

#right_banner img {
    width: 100%;
}


/*--------------------------------------------*/
/*--------------------------------------------*/
/*--------------------------------------------*/
/*--------------------------------------------*/
/*--------------------------------------------*/

@media only screen and (min-width: 1080px) {
    
    .container{
        clear:both;
        overflow:auto;
        width: 100%;
        margin: auto;
        top: 0;
        background-color: white;
        position: fixed;
        height: 100px;
    }

    nav{
        float:right;
        margin-right: 60px;
        margin-top: 15px;
    }

    nav a {
        text-decoration: none;
    }

    .logo img{
        float:left;
        margin-left: 50px;
        margin-top: 22px;
        color: #f50900;
        font-weight: 600;
        width: 4.3%;
        text-align: center;
    }

    .logo a.active{color: #f50900;}

    nav ul li{
        display: inline-block; 
        padding: 25px 12px;
        font-size:17px; 
        color: #f44336;
        text-align: center;
    }

    nav ul li:hover, a:hover{
        color: #222222;
    }

    nav ul li:active{
        color: black;
    }

    nav ul a.active{
        color: #222222;
    }

    nav ul a {
        color: #f50900;
        font-weight: 500;
        text-decoration: none;
    }
    /*-------------------------------*/

    .work_box {
        background-color: white;
        height: 370px;
        width: 70%;
        box-shadow: 5px 3px 8px #dddddd;
        margin: auto;
        /*animation-name: slide-right;
        animation-duration: 1.5s;*/
    }

    #work_box_words {
        float: left;
        padding-top: 100px;
        padding-left: 60px;
        padding-bottom: 20px;
        padding-right: 10px;
        line-height: 1.7;
        width: 42%;
    }

    .work_box_words h1 {
        color: #222222;
        font-weight: 1000;
    }

    #work_box_words h4 {
        line-height: 1.4;
    }

    .work_box a {
        color: #f44336;
        text-decoration: none;
        padding: 30px 0px 0px 0px;
    }

    #red_words {
        color: #f44336;
        font-weight: 500;
    }

    #intro {
        background-color: white;
        height: 250px;
        width: 1000px;
        margin: auto;
        margin-top: 200px;
        margin-bottom: 100px;
    }
    #intro h2 {
        color: #f44336;
        font-weight: bolder;
        font-size: 35px;
        letter-spacing: -1px;
    }

    #intro h3 {
        font-weight: 500;
        line-height: 1.7;
    }

    #glimmer_banner {
        float: left;
        width: 50%;
        height: 370px;
    }

    #right_banner {
        float: right;
        width: 50%;
        height: 370px;
    }
}
